html, body {
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
  }
  
  #chart-one-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .chart-button {
  margin-left: 10px;
  background-color: #ccc;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.chart-button.active {
  background-color: #4caf50;
  color: white;
}
.bar {
  fill: steelblue; /* Bar color */
}

.bar:hover {
  fill: orange; /* Bar color on hover */
}
