html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  #chart-container {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  /* CSS style for the tooltip */
.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  /*pointer-events: none;*/
}

circle {
  position: relative;
  z-index: 1;
}
